@font-face {
  font-family: 'Ilisarniq';
  src: url('Ilisarniq-Regular.woff2') format('woff2');
}
'page.text.font' {
  font-feature-settings: 'kern';
}
#menu.font {
  font-feature-settings: 'kern';
}
'link.font' {
  font-feature-settings: 'kern';
}
'blog.title.font' {
  font-feature-settings: 'kern';
}
'blog.description.font' {
  font-feature-settings: 'kern';
}
'post.title.font' {
  font-feature-settings: 'kern';
}
