@font-face {
  font-family: 'Gangster Grotesk';
  src: url('https://cdn.jsdelivr.net/gh/keungchow/loop@v2.0/gangstergrotesk-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}