@font-face {
    font-family: 'Anivers_Regular';
    src: url('Anivers_Regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: Anivers_Regular;
    font-size: 7.2rem
}
