@font-face {
    font-family: 'Anivers_Regular';
    src: url('https://github.com/keungchow/loop/blob/master/Anivers_Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

