@font-face {
    font-family: 'Breeze Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('https://raw.githubusercontent.com/keungchow/loop/master/Breeze.ttf') format('truetype');
}
